.details-section {
  align-items: center;
  color: #2a2a2a;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-evenly;
  padding-bottom: 20%;
}

.item-details-header {
  font-size: 24px;
  height: 5vh;
  margin: 0;
}

.item-details-container {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
}

.item-details {
  background-color: #b8c0ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 20px;
  height: 5vh;
  margin: 2%;
  text-align: center;
  text-transform: uppercase;
  width: 40vw;
}

.details-button-container {
  display: flex;
  font-size: 10px;
  width: 70vw;
  justify-content: space-between;
}

.details-edit-button,
.details-list-button,
.details-delete-button {
  align-items: center;
  background-color: #b8c0ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  font-size: 16px;
  height: 5vh;
  margin: 4px;
  padding: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.details-image {
  height: 30vh;
  margin: 5px;
  width: 50vw;
}

.item-notes {
  align-items: center;
  border: 1px solid rgb(50, 49, 49);
  border-radius: 8px;
  display: flex;
  font-size: 16px;
  height: 10vh;
  justify-content: center;
  width: 65vw;
}

.notes-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 65vw;
}

.item-notes-header {
  font-size: 16px;
}