.details-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  height: 55vh;
  justify-content: space-evenly;
  color: #2a2a2a;
}

.item-details-header {
  width: 70vw;
  height: 2vh;
  background-color: #c8b6ff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  margin: 5px;
  border: 1px solid rgb(50, 49, 49);
}

.item-details-container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  align-items: center;
  font-size: 10px;
}

.item-details {
  background-color: #b8c0ff;
  height: 14px;
  margin: 4px;
  text-align: center;
  padding: 2px 10px 2px 10px;
  font-size: 14px;
}

.details-button-container {
  display: flex;
  font-size: 10px;
  width: 70vw;
  justify-content: space-between;
}

.details-edit-button,
.details-list-button,
.details-delete-button {
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  background-color: #bbd0ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 3vh;
  display: flex;
  align-items: center;
  margin: 4px;
  padding: 10px;
  width: fit-content;
  text-decoration: none;
  font-size: 15px;
}

.details-image {
  height: 30vh;
  width: 50vw;
  margin: 5px;
}

.item-notes {
  border: 1px solid rgb(50, 49, 49);
  height: fit-content;
  width: 65vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65vw;
}

.item-notes-header {
  font-size: 12px;
  height: .5vh;
}