.list-container {
  height: 80vh;
  margin-bottom: 20%;
  padding-bottom: 30%;
}

.list-button {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  cursor: pointer;
  display: block;
  font-size: 19px;
  font-weight: 500;
  margin: 10px auto;
  padding: 12px;
  text-decoration-line: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
  width: calc(85% - 50px);
  }
  
.list-button:hover {
  background-color: #f5f5f5;
}

.button-container {
  height: 80vh;
  overflow-y: scroll;
  margin-bottom: 20%;
}