.edit-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 68vh;
  justify-content: center;
  padding-bottom: 17%;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-bottom: 25%;
}