.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: flex-end;
  width: 38vw;
}

.card-image {
  height: 27vh;
  width: 38vw;
  border: 2px solid #2a2a2a;
}

.delete-banner {
  color: #B8C0FF;
}

.banner-container {
  background-color: #2a2a2a;
  height: 8vh;
  width: 38vw;
}