.card-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: flex-end;
  margin-bottom: 8%;
  width: 150px;
}

.card-image {
  height: 150px;
  width: 150px;
}

.delete-banner {
  color: #B8C0FF;
  text-align: center;
}

.banner-container {
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  width: 150px;
}