.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: space-around;
  width: 38vw;
}

.card-image {
  height: 25vh;
  width: 35vw;
}

.delete-banner {
  color: #B8C0FF;
}

.banner-container {
  background-color: #2a2a2a;
  height: 8vh;
  width: 38vw;
  margin-top: 15%;
}