.closet-container {
  cursor: pointer;
  height: 60vh;
}

#filter {
  display: flex;
  justify-content: space-between;
  background-color: #bbd0ff;
  height: 5vh;
  margin-bottom: 8%;
}

.cards-container {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 17%;
}

h2 {
  height: 5vh;
  text-align: center;
}

.filter-button {
  background-color: #B8C0FF;
  color: #2a2a2a;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

#filter--clothing-type,
#filter--color,
#filter--season {
  background-color: #bbd0ff;
  border: none;
  color: #2a2a2a;
  text-align: center;
  width: 150px;
}