
.home-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  width: 100vw;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.menu-item {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  text-decoration-line: none;
  transition: all 0.2s ease-in-out;
  padding: 12px;
  width: calc(85% - 50px);
}

.menu-item:hover {
  background-color: #f5f5f5;
  border-color: #646cff;
}

.menu-text {
  color: #c8b6ff;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
}
