.nav-bar {
  align-items: center;
  background-color: #2a2a2a;
  bottom: 0;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  height: 11vh;
  justify-content: space-around;
  left: 0;
  position: fixed;
  right: 0;
}

.fa-house-chimney-blank,
.fa-clothes-hanger,
.fa-square-list {
  color: #c8b6ff;
}

