.form--list {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.list-form-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 22vh;
  justify-content: center;
  padding-bottom: 17%;
}

.list--input {
  margin-bottom: 5%;
  margin-top: 5%;
}

.input {
  font-size: 20px;
  height: 5vh;
  width: 57vw;
}